---
// src/pages/index.astro
import "../styles/global.css";
import { slide } from 'astro:transitions';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import StickyContact from '../components/StickyContact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Портфолио | Jersey">
	<Header />
	<main transition:animate={slide({ duration: '0.3s' })}>
    <div id="main-content-wrapper" class="main-content flex flex-col gap-24" style="transition: filter 0.4s ease-out;">
      <section class="container pt-20 md:pt-24 lg:pt-32 grid grid-cols-1 lg:grid-cols-2 gap-8">
        <Hero />
        <About />
      </section>

      <Skills />


      <div class="container">
        <Projects limit={3} showViewAll={true} />
      </div>
    </div>
    
    <div class="sticky-parent-container" style="height: 200vh; position: relative;">
      <StickyContact />
    </div>

	</main>
  <Footer />
</Layout>